@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

#hero {
    width: 100%;
    height: fit-content;
    background: linear-gradient(70deg, rgba(90, 86, 83, 0.7) 0%, rgba(130, 110, 84, 0.7) 33%, rgba(20, 19, 19, 0.7) 66%, rgba(30, 147, 147, 0.7) 100%), url("../../images/image-3.jpg") no-repeat center / cover;
    color: white;
    padding: 2% 0;
}

#hero .hero-navbar {
    width: 90%;
    height: 20%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero .hero-navbar ul {
    padding: 0;
    margin: 0;
}

#hero .hero-navbar li {
    display: inline-block;
    padding: 0 1em;
    list-style-type: none;
    font-size: 20px;
}

#hero .hero-navbar .logo {
    margin-right: 30px;
}

#hero .hero-navbar a {
    text-decoration: none;
    color: white;
}

#hero .hero-navbar .search {
    border-radius: 25px;
    border: 2px solid #fd6711;
    width: 200px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: larger;
}

#hero .hero-content {
    width: 90%;
    height: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#hero .hero-content .images img {
    max-width: 100%;
}

#hero .hero-content .info {
    font-weight: bold;
}

#hero .hero-content .info p:nth-child(1) {
    color: #fe6711;
    font-size: smaller;
}

#hero .hero-content h1 {
    font-size: 50px;
    font-weight: 700;
}

#hero .hero-content .info .button {
    border-radius: 25px;
    background: #13c5d0;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: auto;
}

#content-1 {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 2% 0;
    flex-direction: column;
    gap: 4em;
}

#content-1 .info {
    width: 90%;
    height: fit-content;
    max-width: 1200px;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#content-1 .info .images img {
    max-width: 100%;
    height: auto;
}

#content-1 .cards {
    width: 80%;
    height: fit-content;
    max-width: 1200px;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#content-1 .cards img {
    width: 80px;
    height: 75px;
    margin: 10px auto;
}

#content-1 .cards h4 {
    font-weight: bold;
}

.card {
    height: 100%;
    max-width: 14em;
}

#causes {
    background: linear-gradient(75deg, rgb(252, 236, 223) 0%, rgb(255, 224, 184) 50%, rgba(252, 236, 223, 1) 100%);
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#causes .carouselExampleIndicators {
    margin: 2% 0;
}

#causes .carousel-item {
    display: flex;
    gap: 20px;
}