/* Question 5 */
/* #menu {
    display: block;
    visibility: visible;
}

#balanceSheet {
    display: none;
    visibility: hidden;
}

#withdrawalPage {
    display: none;
    visibility: hidden;
}

#pinEntry {
    display: none;
    visibility: hidden;
} */